version: '3'
services:

  # Serveur OpenSearch (fork Elasticsearch 7.10)
  opensearch:
    image: opensearchproject/opensearch:3
    container_name: opensearch
    user: "1000:1000"  # Spécifiez l'utilisateur et le groupe ici
    environment:
      # Paramètres dédiés au TP : sécurité désactivée et mot de passe simple.
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - node.roles=ml, data, master, ingest
      - plugins.ml_commons.native_memory_threshold=100
      - plugins.security.disabled=true # ATTENTION : SECURITE DESACTIVE
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=MotDePasse-2  # ATTENTION : SECURITE DESACTIVE
      - "OPENSEARCH_JAVA_OPTS=-Xms512m -Xmx512m"
    volumes:
      - ./docker/opensearch/data:/usr/share/opensearch/data
    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
      - 9600:9600
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health || exit 1"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    networks:
      - opensearch-net

  # Logstash pour l'ingestion de données
  logstash-oss:
    image: opensearchproject/logstash-oss-with-opensearch-output-plugin:8.9.0
    container_name: logstash-oss
    environment:
      - "ES_JAVA_OPTS=-Xms256m -Xmx256m"
    ports:
      - 5000:5000
    #volumes:
    #  - ./pipeline:/usr/share/logstash/pipeline:ro
    restart: unless-stopped
    networks:
      - opensearch-net
    depends_on:
      - opensearch
      
  # Opensearch dashboard pour la visualisation
  opensearch-dashboards:
    image: opensearchproject/opensearch-dashboards:3
    container_name: opensearch-dashboards
    ports:
        - 5601:5601
    networks:
      - opensearch-net
    environment:
      - 'OPENSEARCH_HOSTS=["http://opensearch:9200"]'
      - "DISABLE_SECURITY_DASHBOARDS_PLUGIN=true"
    volumes:
      - ./docker/opensearch-dashboards/config/opensearch_dashboards.yml:/usr/share/opensearch-dashboards/config/opensearch_dashboards.yml
    depends_on:
      - opensearch
    restart: unless-stopped

networks:
  opensearch-net:
    driver: bridge
